:root {

    --rose: #caa5bf;
    --zweitfarbe: #926c87;
    --light-gray: #E5E5E5;
    --dark-gray: #333333;
    --medium-gray: #999999;
    --white: #FFFFFF;
    --black: #000000;
}


body {
    font-family: 'Inter', sans-serif;
    color: var(--dark-gray);
    background-color: var(--white);
    padding-top: 80px;

}

/* Responsive */
@media (max-width: 768px) {
    .footer .row {
        text-align: center;
    }
}


@media (max-width: 992px) {
    .navbar .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media (max-width: 768px) {
    .hero {
        height: 400px;
        text-align: center;
    }

    .shop-section img {
        height: 360px;
    }
}